* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.btn {
  height: 48px;
  width: 128px;
  border-radius: 0;
  background: #b45f4d;
  color: white;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  border: 3px solid #b45f4d;
  color: black;
}

/* header */

header {
  background: #b36050;
  padding: 10px 9px;
}

header h1 {
  font-weight: 400;
  font-size: 17px;
  color: #f1d3b9;
}

/* nav */

nav {
  padding: 5px 0;
  background: #f6f4ec;
  height: 71px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar > * {
  float: left;
}

.nav-list {
  list-style-type: none;
  width: 40%;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  display: inline-block;
  padding: 21px;
  color: #b4604d;
}

.nav-link:hover {
  border-bottom: 2px solid black;
}

.active {
  color: #000;
}


.nav-link:active {
  color: red;
}

.logo {
  width: 20%;
  text-align: center;
}

.account {
  width: 40%;
  text-align: right;
  color: #b45f4d;
  padding: 20px;
}

.account > * {
  vertical-align: middle;
}

.account a {
  color: #b45f4d;
}

/* ---- home ----- */

#home {
  position: relative;
}

#home img {
  width: 100%;
}

.home-btn {
  position: absolute;
  left: calc(50% - 64px);
  bottom: 65px;
}

/* info */

#info {
  padding: 70px;
  background: #a9ae8d;
  color: #f6f4ec;
  margin-top: -4px;
}

.info-container h2 {
  font-weight: 400;
  font-size: 16px;
}

.info-container p {
  font-weight: 400;
  font-size: 33px;
  line-height: 64px;
  margin: 15px 0 30px;
}

/* products */

#products {
  padding: 30px;
  background: rgb(246,244,236);
}

#products h1 {
  font-weight: 400;
  font-size: 23px;
  line-height: 39px;
  color: #b45f4d;
  margin-top: 10px;
}

.product-card {
  display: inline-block;
  width: 33.333%;
  padding: 40px;
  color: #b45f4d;
}

.product-card h2 {
  margin: 10px 0 7px;
  font-weight: 400;
  font-size: 18px;
}

.product-card img {
  width: 100%;
}

.product-card + .product-card {
  margin-left: -5px;
}

.product-row{
  position: relative;
  
}
.arrows{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left{
  width: 66px;
  height: 9px;
  margin-left: 81px;
}

.right{
  width: 66px;
  height: 9px;
  margin-right: 81px;
}

/* daes */

#dae{
  padding-bottom: 50px;

}

.dae_container{
  position: relative;
}

.img_daes{
  padding-top: 24px;
  width: 80%;
  height: 414px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.daes_info{
  width: 80%;
  background: hwb(20 48% 13%);
  height: 92px;
  position: absolute;
  bottom: 0;
  left: 10%;
} 

.dae_text{
  text-transform: uppercase;
  color: white;
  margin-left: 30px;
  margin-top: 30px;
  display: inline;
  float: left;
}

.shop_sets{
  color: white;
  font-size: 18px;
  display: inline;
  float: right;
  margin: 31px 30px 32px;
}

.shop_sets:hover{
  border: 2px solid green;
  color: yellow;
  cursor: pointer;
}

/* about */

#about {
  background: #f1d3b9;
  padding-top: 61px;
  padding-bottom: 61px;
}

.about-container {
  position: relative;
}

.about-left {
  position: absolute;
  bottom: -36px;
}

.about-middle {
  margin-left: 83px;
}

.about-box {
  background: #f8f8f8;
  padding: 50px;
  color: #b45f4d;
  width: 520px;
  position: absolute;
  top: 225px;
  right: 235px;
}

.about-box h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 58px;
  margin-bottom: 25px;
}

.about-box p {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}

.p{
  margin-top: 21px;
  text-transform: uppercase;
  weight:400;
  size:16px;
  line height:25.6px;
}

.hh1{
  font-size: 23px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  margin-top: 25px;
  margin-bottom: 48px;
}

/* lastsection */

.lastsection{
  /* width: calc(100%-30px); */
  height: 130px;
}

.images{
  position: relative;
  float: left;
  width: 16.6%;
}

.re6{
  position: absolute;
  top: 74px;
  right: 94px;
  bottom: 10px;
  left: 94px;
}

.images1{
  position: relative;
  float: left;
  width: 16.6%;
}


.images2{
  position: relative;
  float: left;
  width: 16.6%;

}

.images3{
  position: relative;
  float: left;
  width: 16.6%;
}

.images4{
  position: relative;
  float: left;
  width: 16.6%;
}

.images5{
  position: relative;
  float: left;
  width: 16.6%;
} 



/* --------  footer  ------  */

.footer{
  height: 401px;
  background: #F6F4EC;
  margin-top: 43px;
  position: relative;
}

.fleft{
  width: 50%;
  /* height: 401px; */
  position: relative;
}

.careers{
  position: absolute;
  left: 50px;
  top: 64px;
}

.newsletter{
  position: absolute;
  left: 251px;
  top: 64px;
}

ul{
  list-style-type: none;
}

.footer_li{
  weight:400;
  size:14px;
  line-height:19.6px;
  color: #B45F4D;
}

.footer_li + .footer_li{
  padding-top: 12px;
}

.leftthree{

}

.span1{
  weight:400;
  size:14px;
  line-height: 22.4px;
  color:  #C17C6C;
}

.span2{
  weight:400;
  size:14px;
  line-height: 22.4px;
  color: #B45F4D;
}

.span3{
  weight:400;
  size:14px;
  line-height: 22.4px;
  color: #C17C6C;
}

.leftthree{
  position: absolute;
  top: 318px;
  left: 50px;
}

.fright{
  display: inline;
  width: 50%;
  /* height: 401px; */
  position: relative;
}

.only{
  position: absolute;
  top: 62px;
  right: 146px;
  weight:400;
  size:14px;
  line-height: 22.4px;
  color: #C17C6C;
}

.button{
  width: 500px;
  height: 44px;
  border: 2px solid #C17C6C;
  text-align: right;
  position: absolute;
  top: 97px;
  right: 176px;
  color: #C17C6C;
}

.pre{
  position: absolute;  
  bottom: 195px;
  right: 238px;
  color: #C17C6C;
  weight:400;
  size:14px;
  line-height: 22.4px;
}







